@page
@inject IStringLocalizer<IndexModel> t;
@model IndexModel
@{
    ViewData["Title"] = t["Home page"];
}

<div class="text-center">
    <h1 class="display-4">@t["Welcome"]</h1>
    <p>@t["Learn about"] <a href="https://learn.microsoft.com/aspnet/core">@t["building Web apps with ASP.NET Core"]</a>.</p>
</div>
