@using Id.Models.CommunicationModels
@model EmailTemplateModel
@inject IStringLocalizer<EmailTemplateModel> t;
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            padding: 20px;
        }

        .btn {
            background-color: #007bff;
            color: white;
            padding: 10px;
            text-decoration: none;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>@t[Model.HeaderText]</h2>
        <p>@t["We received the request to reset your password. Please click the link below"]:</p>
        <p><a class="btn" href="@Model.ActionUrl">@t["Reset password"]</a></p>
    </div>
</body>
</html>
