@import url("https://fonts.googleapis.com/css2?family=Garamond&display=swap");
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Garamond", serif;
  display: flex;
  flex-direction: column; }

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #FFFFFF;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

:root {
  --jd-color-background-default: $bg;
  --jd-color-border: $linkHover;
  --jd-color-panel: $bg;
  --jd-color-icon: $error; }

a {
  color: #0066DD; }

a:hover {
  color: #CC0000; }

a:active {
  color: #DD0000; }

body {
  background-color: #2C2F33;
  color: #FFFFFF; }

.navbar {
  background-color: rgba(0, 0, 80, 0.8);
  color: #EEEEEE; }

a.nav-link {
  color: #0066DD; }

a.nav-link:hover {
  color: #CC0000; }

a.nav-link:active {
  color: #DD0000; }

.container {
  color: #FFFFFF;
  background-color: #181A1E; }

.dimmed {
  color: rgba(0, 0, 80, 0.8); }

.form-control {
  color: #EAEAEA;
  background-color: #5E2129; }

.form {
  color: #EAEAEA;
  background-color: #5E2129; }

input {
  -webkit-tap-highlight-color: #EEEEEE; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #5E2129, !important;
  color: #EAEAEA !important;
  -webkit-text-fill-color: #EAEAEA !important;
  transition: background-color 1s ease-in-out 5000s !important; }

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: #5E2129, !important;
  color: #EAEAEA !important;
  -webkit-text-fill-color: #EAEAEA !important;
  transition: background-color 1s ease-in-out 5000s !important; }

.form-control:disabled {
  background-color: #555555;
  color: #AAAAAA; }

.form-control:valid {
  background-color: #5E2129;
  color: #EAEAEA; }

.form-control:active {
  background-color: #555555;
  color: #AAAAAA; }

.success {
  color: #32CD32; }

.helper {
  color: #EEEEEE;
  border: solid 2px #BB0000;
  padding: 10px;
  margin-right: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  border-radius: 8px 8px; }

.input-valid {
  border-color: #32CD32; }

.input-invalid {
  border-color: #EC143C; }

.success {
  color: #32CD32; }

.error {
  color: #EC143C; }

.warning {
  color: #FFA500; }

.information {
  color: #1E90FF; }

.btn-primary {
  background-color: #0066DD;
  border-color: #0066DD;
  color: #EEEEEE; }

.btn-primary:hover {
  background-color: #0066DD;
  border-color: #CC0000;
  color: #EEEEEE; }

.btn:disabled {
  background-color: #555555;
  color: #AAAAAA;
  border-color: #0066DD; }

table.result {
  border: 2px solid #BB0000;
  border-radius: 7px;
  padding: 5px;
  width: 95%;
  background-color: #5E2129; }

th.result {
  border: 2px solid #BB0000;
  padding: 5px;
  color: #EAEAEA; }

td.result {
  border: 1px solid #BB0000;
  padding: 5px; }

table {
  margin-top: 10px;
  width: 95%;
  margin-right: auto;
  border-radius: 7px;
  margin-left: auto;
  background-color: #5E2129;
  color: #EAEAEA; }

.terms h1, h2, h3, h4, h5, h6 {
  color: #CC0000;
  font-weight: bold;
  font-style: italic; }

.terms li {
  color: #1E90FF; }
