:root {
  --jd-color-background-default: $bg;
  --jd-color-border: $linkHover;
  --jd-color-panel: $bg;
  --jd-color-icon: $error;
}

a {
  color: #fa9929;
}

a:hover {
  color: #990000;
}

a:active {
  color: #ff0808;
}

body {
  background-color: #050505;
  color: #dadada;
}

.navbar {
  background-color: rgba(90, 90, 90, 0.8);
  color: #eeeeee;
}

a.nav-link {
  color: #fa9929;
}

a.nav-link:hover {
  color: #990000;
}

a.nav-link:active {
  color: #ff0808;
}

.container {
  color: #dadada;
  background-color: #020202;
}

.dimmed {
  color: rgba(90, 90, 90, 0.8);
}

.form-control {
  color: #E2E2E2;
  background-color: #222222;
}

.form {
  color: #E2E2E2;
  background-color: #222222;
}

input {
  -webkit-tap-highlight-color: #eeeeee;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #222222, !important;
  color: #E2E2E2 !important;
  -webkit-text-fill-color: #E2E2E2 !important;
  transition: background-color 1s ease-in-out 5000s !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: #222222, !important;
  color: #E2E2E2 !important;
  -webkit-text-fill-color: #E2E2E2 !important;
  transition: background-color 1s ease-in-out 5000s !important;
}

.form-control:disabled {
  background-color: #220000;
  color: #666666;
}

.form-control:valid {
  background-color: #222222;
  color: #E2E2E2;
}

.form-control:active {
  background-color: #220000;
  color: #666666;
}

.success {
  color: rgb(50, 200, 50);
}

.helper {
  color: #eeeeee;
  border: solid 2px #440000;
  padding: 10px;
  margin-right: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  border-radius: 8px 8px;
}

.input-valid {
  border-color: rgb(50, 200, 50);
}

.input-invalid {
  border-color: #aa0000;
}

.success {
  color: rgb(50, 200, 50);
}

.error {
  color: #aa0000;
}

.warning {
  color: #aa9900;
}

.information {
  color: #2222ee;
}

.btn-primary {
  background-color: #fa9929;
  border-color: #fa9929;
  color: #eeeeee;
}

.btn-primary:hover {
  background-color: #fa9929;
  border-color: #990000;
  color: #eeeeee;
}

.btn:disabled {
  background-color: #220000;
  color: #666666;
  border-color: #fa9929;
}

table.result {
  border: 2px solid #440000;
  border-radius: 7px;
  padding: 5px;
  width: 95%;
  background-color: #222222;
}

th.result {
  border: 2px solid #440000;
  padding: 5px;
  color: #E2E2E2;
}

td.result {
  border: 1px solid #440000;
  padding: 5px;
}

table {
  margin-top: 10px;
  width: 95%;
  margin-right: auto;
  border-radius: 7px;
  margin-left: auto;
  background-color: #222222;
  color: #E2E2E2;
}

.terms h1, h2, h3, h4, h5, h6 {
  color: #990000;
  font-weight: bold;
  font-style: italic;
}

.terms li {
  color: #2222ee;
}
