:root {
  --jd-color-background-default: $bg;
  --jd-color-border: $linkHover;
  --jd-color-panel: $bg;
  --jd-color-icon: $error;
}

a {
  color: #9d9063;
}

a:hover {
  color: #d97b3b;
}

a:active {
  color: #b85929;
}

body {
  background-color: #a97c50;
  color: #3d1f0f;
}

.navbar {
  background-color: rgba(150, 100, 70, 0.8);
  color: #ffddb3;
}

a.nav-link {
  color: #9d9063;
}

a.nav-link:hover {
  color: #d97b3b;
}

a.nav-link:active {
  color: #b85929;
}

.container {
  color: #3d1f0f;
  background-color: #caa98a;
}

.dimmed {
  color: rgba(150, 100, 70, 0.8);
}

.form-control {
  color: #e9d6bb;
  background-color: #8a5f3a;
}

.form {
  color: #e9d6bb;
  background-color: #8a5f3a;
}

input {
  -webkit-tap-highlight-color: #ffddb3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #8a5f3a, !important;
  color: #e9d6bb !important;
  -webkit-text-fill-color: #e9d6bb !important;
  transition: background-color 1s ease-in-out 5000s !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: #8a5f3a, !important;
  color: #e9d6bb !important;
  -webkit-text-fill-color: #e9d6bb !important;
  transition: background-color 1s ease-in-out 5000s !important;
}

.form-control:disabled {
  background-color: #7f5540;
  color: #baa8a8;
}

.form-control:valid {
  background-color: #8a5f3a;
  color: #e9d6bb;
}

.form-control:active {
  background-color: #7f5540;
  color: #baa8a8;
}

.success {
  color: rgb(100, 180, 60);
}

.helper {
  color: #ffddb3;
  border: solid 2px #a83f1f;
  padding: 10px;
  margin-right: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  border-radius: 8px 8px;
}

.input-valid {
  border-color: rgb(100, 180, 60);
}

.input-invalid {
  border-color: #993333;
}

.success {
  color: rgb(100, 180, 60);
}

.error {
  color: #993333;
}

.warning {
  color: #c88e3a;
}

.information {
  color: #2288bb;
}

.btn-primary {
  background-color: #9d9063;
  border-color: #9d9063;
  color: #ffddb3;
}

.btn-primary:hover {
  background-color: #9d9063;
  border-color: #d97b3b;
  color: #ffddb3;
}

.btn:disabled {
  background-color: #7f5540;
  color: #baa8a8;
  border-color: #9d9063;
}

table.result {
  border: 2px solid #a83f1f;
  border-radius: 7px;
  padding: 5px;
  width: 95%;
  background-color: #8a5f3a;
}

th.result {
  border: 2px solid #a83f1f;
  padding: 5px;
  color: #e9d6bb;
}

td.result {
  border: 1px solid #a83f1f;
  padding: 5px;
}

table {
  margin-top: 10px;
  width: 95%;
  margin-right: auto;
  border-radius: 7px;
  margin-left: auto;
  background-color: #8a5f3a;
  color: #e9d6bb;
}

.terms h1, h2, h3, h4, h5, h6 {
  color: #d97b3b;
  font-weight: bold;
  font-style: italic;
}

.terms li {
  color: #2288bb;
}
