@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column; }

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-top-color: #000000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

:root {
  --jd-color-background-default: $bg;
  --jd-color-border: $linkHover;
  --jd-color-panel: $bg;
  --jd-color-icon: $error; }

a {
  color: #0055AA; }

a:hover {
  color: #FF6600; }

a:active {
  color: #FF0000; }

body {
  background-color: #E0DCCB;
  color: #000000; }

.navbar {
  background-color: rgba(224, 220, 203, 0.8);
  color: #404040; }

a.nav-link {
  color: #0055AA; }

a.nav-link:hover {
  color: #FF6600; }

a.nav-link:active {
  color: #FF0000; }

.container {
  color: #000000;
  background-color: #F8F7F2; }

.dimmed {
  color: rgba(224, 220, 203, 0.8); }

.form-control {
  color: #000000;
  background-color: #D8D4C4; }

.form {
  color: #000000;
  background-color: #D8D4C4; }

input {
  -webkit-tap-highlight-color: #404040; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #D8D4C4, !important;
  color: #000000 !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 1s ease-in-out 5000s !important; }

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: #D8D4C4, !important;
  color: #000000 !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 1s ease-in-out 5000s !important; }

.form-control:disabled {
  background-color: #A0A0A0;
  color: #606060; }

.form-control:valid {
  background-color: #D8D4C4;
  color: #000000; }

.form-control:active {
  background-color: #A0A0A0;
  color: #606060; }

.success {
  color: #008000; }

.helper {
  color: #404040;
  border: solid 2px #AA0000;
  padding: 10px;
  margin-right: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  border-radius: 8px 8px; }

.input-valid {
  border-color: #008000; }

.input-invalid {
  border-color: #880000; }

.success {
  color: #008000; }

.error {
  color: #880000; }

.warning {
  color: #FFAA00; }

.information {
  color: #0044AA; }

.btn-primary {
  background-color: #0055AA;
  border-color: #0055AA;
  color: #404040; }

.btn-primary:hover {
  background-color: #0055AA;
  border-color: #FF6600;
  color: #404040; }

.btn:disabled {
  background-color: #A0A0A0;
  color: #606060;
  border-color: #0055AA; }

table.result {
  border: 2px solid #AA0000;
  border-radius: 7px;
  padding: 5px;
  width: 95%;
  background-color: #D8D4C4; }

th.result {
  border: 2px solid #AA0000;
  padding: 5px;
  color: #000000; }

td.result {
  border: 1px solid #AA0000;
  padding: 5px; }

table {
  margin-top: 10px;
  width: 95%;
  margin-right: auto;
  border-radius: 7px;
  margin-left: auto;
  background-color: #D8D4C4;
  color: #000000; }

.terms h1, h2, h3, h4, h5, h6 {
  color: #FF6600;
  font-weight: bold;
  font-style: italic; }

.terms li {
  color: #0044AA; }
