@import url("https://fonts.googleapis.com/css2?family=Arial&display=swap");
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column; }

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-top-color: #000000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

:root {
  --jd-color-background-default: $bg;
  --jd-color-border: $linkHover;
  --jd-color-panel: $bg;
  --jd-color-icon: $error; }

a {
  color: #0000FF; }

a:hover {
  color: #FF0000; }

a:active {
  color: #800080; }

body {
  background-color: #808080;
  color: #000000; }

.navbar {
  background-color: rgba(128, 128, 128, 0.8);
  color: #FFFFFF; }

a.nav-link {
  color: #0000FF; }

a.nav-link:hover {
  color: #FF0000; }

a.nav-link:active {
  color: #800080; }

.container {
  color: #000000;
  background-color: #C0C0C0; }

.dimmed {
  color: rgba(128, 128, 128, 0.8); }

.form-control {
  color: #000000;
  background-color: #E0E0E0; }

.form {
  color: #000000;
  background-color: #E0E0E0; }

input {
  -webkit-tap-highlight-color: #FFFFFF; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #E0E0E0, !important;
  color: #000000 !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 1s ease-in-out 5000s !important; }

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: #E0E0E0, !important;
  color: #000000 !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 1s ease-in-out 5000s !important; }

.form-control:disabled {
  background-color: #A0A0A0;
  color: #606060; }

.form-control:valid {
  background-color: #E0E0E0;
  color: #000000; }

.form-control:active {
  background-color: #A0A0A0;
  color: #606060; }

.success {
  color: #008000; }

.helper {
  color: #FFFFFF;
  border: solid 2px #FF0000;
  padding: 10px;
  margin-right: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  border-radius: 8px 8px; }

.input-valid {
  border-color: #008000; }

.input-invalid {
  border-color: #800000; }

.success {
  color: #008000; }

.error {
  color: #800000; }

.warning {
  color: #FF9900; }

.information {
  color: #0000FF; }

.btn-primary {
  background-color: #0000FF;
  border-color: #0000FF;
  color: #FFFFFF; }

.btn-primary:hover {
  background-color: #0000FF;
  border-color: #FF0000;
  color: #FFFFFF; }

.btn:disabled {
  background-color: #A0A0A0;
  color: #606060;
  border-color: #0000FF; }

table.result {
  border: 2px solid #FF0000;
  border-radius: 7px;
  padding: 5px;
  width: 95%;
  background-color: #E0E0E0; }

th.result {
  border: 2px solid #FF0000;
  padding: 5px;
  color: #000000; }

td.result {
  border: 1px solid #FF0000;
  padding: 5px; }

table {
  margin-top: 10px;
  width: 95%;
  margin-right: auto;
  border-radius: 7px;
  margin-left: auto;
  background-color: #E0E0E0;
  color: #000000; }

.terms h1, h2, h3, h4, h5, h6 {
  color: #FF0000;
  font-weight: bold;
  font-style: italic; }

.terms li {
  color: #0000FF; }
