@page "{id?}"
@model Id.Pages.Test.HttpErrorModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Error Tests</title>
</head>
<body>
    <h1>Error Test Page</h1>
    <p>To trigger an error, use /ErrorTests/{statusCode} in the URL.</p>
</body>
</html>