@using Id.Services;
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<Id.Pages.Install.IndexModel> t;

@{
    ViewData["Title"] = t["Installation"];
    Layout = ViewData.TryGetValue("ParentLayout", out var parentLayout)
    ? parentLayout?.ToString()
    : "/Pages/Shared/_Layout.cshtml";
}



<h1 class="text-center">@t["Installation"]</h1>
<hr />

<div class="row">
    <div class="col-md-3">
        <partial name="_InstallNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)
