@page
@model Id.Pages.Error.IndexModel
@{
    //Layout = null;
    ViewBag.Title = $"{Model.t["Error"]} {@Model.StatusCode}";
}



    <h1>@Model.t["Error"]: @Model.StatusCode</h1>
    <p>@Model.GetErrorMessage(Model.StatusCode)</p>
